# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Environments
.env
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# ChromaDB
chroma_db/

# models and binay
*.bin
*.pickle
